body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #c9a77b;
}



header {
    background-color: #6e522c;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


/* barra de pesquisa */

.search-container {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
  }
  
  .search-bar {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
  }
  
  .search-bar:focus {
    border-color: #007BFF;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.4);
  }
  

  
  


.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}



nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
}

nav a:hover {
    color: #291e11;
}

.imagem-item img {
    width: 260px;
    height: 360px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    margin-left: 50px;
    margin-right: 150px;
    margin-bottom: 150px;
    border-radius: 15px;
}

.imagem-item img:hover {
    transform: scale(1.1);
    opacity: 0.10;
}

nav a, .dropbtn {
    text-decoration: none;
    color: #ffff;
    padding: 8px 12px;
    font-size: 16px;
  }
  
  nav a:hover, .dropbtn:hover {
    color: #291e11;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none; 
    position: absolute;
    background-color: #916c39;
    min-width: 125px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.15);
    border-radius: 6px;
    z-index: 1;
  }
  
  
  .dropdown-content a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-content a:hover {
    background-color: #c19c69;
    color: #ffff;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;
  }

#coraline-img {

  width: 260px;
  height: 360px;
  float: left;
  margin-left: 150px;
  border-radius: 15px;

}

